@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes plantFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
html.dark {
  background-color: #020617; /* Matches Tailwind's slate-950 */
}
.plant-icon {
  display: inline-block;
  animation: plantFloat 3s ease-in-out infinite;
}

.plant-icon:nth-child(2) {
  animation-delay: 0.4s;
}

.plant-icon:nth-child(3) {
  animation-delay: 0.8s;
}